USE [master]
GO
/****** Object:  Database [veritabanıodev]    Script Date: 21.01.2021 23:41:27 ******/
CREATE DATABASE [veritabanıodev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'veritabanıodev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\veritabanıodev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'veritabanıodev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\veritabanıodev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [veritabanıodev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [veritabanıodev]
GO
/****** Object:  Table [dbo].[ADRES]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADRES](
	[ADRESID] [int] IDENTITY(1,1) NOT NULL,
	[MusterıID] [int] NULL,
	[ADRESULKE] [varchar](25) NOT NULL,
	[ADRESIL] [varchar](25) NOT NULL,
	[ADRESILCE] [varchar](25) NOT NULL,
	[ADRESYORUM] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADRESID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERILER]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERILER](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](20) NOT NULL,
	[MUSTERISOYAD] [varchar](20) NOT NULL,
	[MUSTERICINSIYET] [varchar](1) NOT NULL,
	[MUSTERITELEFON] [varchar](11) NOT NULL,
	[MUSTERIADRES] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATICI]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATICI](
	[SATICIID] [int] IDENTITY(1,1) NOT NULL,
	[SATICIADI] [varchar](20) NOT NULL,
	[SATICISOYADI] [varchar](20) NOT NULL,
	[SATICITELEFON] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SATICIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPARIS]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARIS](
	[SIPARISID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIID] [int] NULL,
	[SIPARISTARIH] [varchar](10) NULL,
	[SIPARISDURUM] [varchar](20) NULL,
	[URUNID] [int] NULL,
	[SATICIID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SIPARISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUN]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUN](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNKODU] [varchar](20) NOT NULL,
	[URUNADI] [varchar](20) NOT NULL,
	[URUNFİYATI] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [diyafon]    Script Date: 21.01.2021 23:41:27 ******/
CREATE NONCLUSTERED INDEX [diyafon] ON [dbo].[ADRES]
(
	[ADRESULKE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [URUNLERLAR]    Script Date: 21.01.2021 23:41:27 ******/
CREATE NONCLUSTERED INDEX [URUNLERLAR] ON [dbo].[URUN]
(
	[URUNKODU] ASC,
	[URUNFİYATI] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADRES]  WITH CHECK ADD  CONSTRAINT [FK_ADRESMUSTERI] FOREIGN KEY([MusterıID])
REFERENCES [dbo].[MUSTERILER] ([MUSTERIID])
GO
ALTER TABLE [dbo].[ADRES] CHECK CONSTRAINT [FK_ADRESMUSTERI]
GO
ALTER TABLE [dbo].[SIPARIS]  WITH CHECK ADD  CONSTRAINT [FK_SIPARISMUSTERI] FOREIGN KEY([MUSTERIID])
REFERENCES [dbo].[MUSTERILER] ([MUSTERIID])
GO
ALTER TABLE [dbo].[SIPARIS] CHECK CONSTRAINT [FK_SIPARISMUSTERI]
GO
ALTER TABLE [dbo].[SIPARIS]  WITH CHECK ADD  CONSTRAINT [FK_SIPARISSATICI] FOREIGN KEY([SATICIID])
REFERENCES [dbo].[SATICI] ([SATICIID])
GO
ALTER TABLE [dbo].[SIPARIS] CHECK CONSTRAINT [FK_SIPARISSATICI]
GO
ALTER TABLE [dbo].[SIPARIS]  WITH CHECK ADD  CONSTRAINT [FK_SIPARISURUN] FOREIGN KEY([URUNID])
REFERENCES [dbo].[URUN] ([URUNID])
GO
ALTER TABLE [dbo].[SIPARIS] CHECK CONSTRAINT [FK_SIPARISURUN]
GO
/****** Object:  StoredProcedure [dbo].[elif]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[elif]
  AS
  BEGIN
  SET NOCOUNT ON;
  SELECT * FROM SIPARIS
  LEFT JOIN MUSTERILER ON SIPARIS.MUSTERIID = MUSTERILER.MUSTERIID

  END
GO
/****** Object:  StoredProcedure [dbo].[kuyt]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[kuyt]

as
begin
set nocount on;
select * from MUSTERILER
inner join ADRES on MUSTERILER.MUSTERIADRES = ADRES.MusterıID
end
GO
/****** Object:  StoredProcedure [dbo].[MUSTERILERTABLOSUVERIEKLEME]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MUSTERILERTABLOSUVERIEKLEME]
(
@MUSTERIAD VARCHAR(20),
@MUSTERISOYAD varchar(20),
@MUSTERICINSIYET VARCHAR(1),
@MUSTERITELEFON VARCHAR(11),
@MUSTERIADRES INTEGER
)
as
insert into MUSTERILER values(@MUSTERIAD,@MUSTERISOYAD,@MUSTERICINSIYET,@MUSTERITELEFON,@MUSTERIADRES)
GO
/****** Object:  StoredProcedure [dbo].[SATICITABLOSUNAVERIEKLEME]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SATICITABLOSUNAVERIEKLEME]
(
@SATICIADI VARCHAR(20),
@SATICISOYADI varchar(20),
@MDSTICITELEFON VARCHAR(11)
)
as
insert into SATICI values(@SATICIADI,@SATICISOYADI,@MDSTICITELEFON)

exec SATICITABLOSUNAVERIEKLEME 'CEMRE','URAL','7894561230'
GO
/****** Object:  StoredProcedure [dbo].[SIPARISTABLOSUNAVERIEKLEME]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SIPARISTABLOSUNAVERIEKLEME]
(
@MUSTERIID INTEGER,
@SIPARISTARIH varchar(10),
@SIPARISDURUM VARCHAR(20),
@URUNID INTEGER,
@SATICIID INTEGER
)
as
insert into SIPARIS values(@MUSTERIID,@SIPARISTARIH,@SIPARISDURUM,@URUNID,@SATICIID)
GO
/****** Object:  StoredProcedure [dbo].[URUNEKLEME]    Script Date: 21.01.2021 23:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[URUNEKLEME]
(
@URUNKODU VARCHAR(20),
@URUNADI varchar(20),
@URUNFIYATI MONEY
)
as
insert into URUN values(@URUNKODU,@URUNADI,@URUNFIYATI)
GO
USE [master]
GO
